<ul>
    <li><a ng-href="#!/questionnaire">Questionnaire</a></li>
    <li><a ng-href="#!/search">Search</a></li>    
    <li><a ng-href="#!/to-read">To-Read List</a></li>
    <li><a ng-href="#!/has-read">Already Read List</a></li>
    
</ul>

<h1>To-Read List</h1>

<div ng-repeat="book in toread" ng-if="book.has_read == false">
    <img ng-src='{{book.cover_photo}}'></img>
    <h1>{{book.title}}</h1>
    <h3>{{book.author}}</h3>
    <button class="{{book.id}}" ng-click="sendHasReadBooks(book)">Finished</button><button class="{{book.id}}" ng-click="deleteBooks(book.id)">Delete</button>
    
</div>