<ul>
    <li ng-show='!isUserAdmin'><a ng-href="#!/questionnaire">Questionnaire</a></li>
    <li ng-show='!isUserAdmin'><a ng-href="#!/search">Search</a></li>    
    <li ng-show='!isUserAdmin'><a ng-href="#!/to-read">To-Read List</a></li>
    <li ng-show='!isUserAdmin'><a ng-href="#!/has-read">Already Read List</a></li>
    <li ng-show='isUserAdmin'><a ng-href="#!/statistics">Statistics</a></li>
    <li ng-show='isUserAdmin'><a ng-href="#!/tobuy">To Buy</a></li>
    <li ng-show='isUserAdmin'><a ng-href="#!/form">Sign Up</a></li>
    
    
    
    
    
</ul>

<div ng-show='!isUserAdmin'>
<h1 class="header"> Questionnaire</h1>


<div class="questionnaire"> 
    <div ng-repeat='question in questions' class="form-group" >
        <label for="sel1">{{question.questions}}</label>
        <select class="form-control" 
                id="sel{{question.id}}" 
                ng-model="data.responses[question.id]" >
            <option ng-repeat='answer in data.answers' ng-if="answer.question_id == question.id" value="{{answer.drop_down_items}}">{{answer.drop_down_items}}</option>
        </select>
        
    </div>

<!-- <button ng-click='sendResponses()'>Finish</button> -->
<button class="btn btn-dark" class="header" ng-click='getRecommendedBooks()'>Get Recommendations</button>
<!-- <button ng-click='checkRecommendations()'>Check Recommendations</button> -->


<div class="card-deck alsoImportant"> 
    <div ng-repeat='book in recommendations' class="card" >
        <!-- <div ng-repeat="book in recommendation"> -->
            <img class="card-img-top" ng-src='{{book.cover_photo}}' alt="Card image cap"></img>
            <div class="card-body">                    
            <h4 class="card-title">{{book.book_title}}</h4>
            <p class="card-text">{{book.author}}</p>
        </div>
        <button class="btn btn-dark" class="{{book.id}}" ng-controller="listCtrl" ng-click="sendQuestionnaireBooks(book)">To-Read</button>
    </div>
</div>
</div>
</div>


<div ng-show='isUserAdmin'>

    <h1 class="header">Welcome!</h1>
</div>

<!-- <input id="getRecommendations" type="text"></input>
<button ng-click="getRecommendationsForGenre()">Search</button>

<div id='bookStyle' ng-repeat="book in fictionBooks">
        <img ng-src='{{book.image}}'></img>
        <h1>{{book.title}}</h1>
        <h3>{{book.authors}}</h3>
        <h4>Pages: {{book.pageNum}}</h4>
        <a ng-href="#!/{{book.link}}"></a>
    </div> -->