<ul>
    <li><a ng-href="#!/form">Sign Up</a></li>
    <li><a ng-href="#!/questionnaire">Questionnaire</a></li>
    <li><a ng-href="#!/search">Search</a></li>    
    <li><a ng-href="#!/to-read">To-Read List</a></li>
    <li><a ng-href="#!/has-read">Already Read List</a></li>
    
    
</ul>

<h1 class="header">Find Books Here</h1>

<div class="searchInput">
<h2 class="h2">Search by genre:</h2>
<input id="searchBooks" type="text"></input> 
<button class="btn btn-dark" id="submitButton" ng-click="searchBooks2()">Submit</button>
</div>

<div class="card-columns">
<div ng-repeat="book in booksbygenre" class="card" class="card border-secondary mb-3" style="width: 20rem;">
    <img class="card-img-top" ng-src='{{book.image}}' alt="Card image cap"></img>
    <h4 class="card-header">{{book.title}}</h4>
    <div class="card-body">
    <p class="card-text">{{book.authors}}</p>
    <button class="btn btn-dark" class="{{book.id}}" ng-controller="listCtrl" ng-click="sendUserBooks(book)">To-Read</button>
</div>
</div>
</div>

<div class="searchInput">        
<h2 class="h2">Search by title:</h2>
<input class="searchInput" id="searchBooksByTitle" type="text"></input> 
<button class="btn btn-dark" id="submitButtonAgainII" ng-click="searchBooksByTitle()">Submit</button>
</div>

<div class="card-columns">        
<div ng-repeat="book in booksbytitle" class="card" class="card border-secondary mb-3" style="width: 20rem;">
    <img class="card-img-top" ng-src='{{book.image}}'></img>
    <h4 class="card-header">{{book.title}}</h4>
    <div class="card-body">            
    <p class="card-text">{{book.authors}}</p>
    <button class="btn btn-dark" class="{{book.id}}" ng-controller="listCtrl" ng-click="sendUserBooks(book)">To-Read</button>
</div>
</div>
</div>

<div class="searchInput">        
<h2 class="h2">Search by author:</h2>
<input class="searchInput" id="searchBooksByAuthor" type="text"></input> 
<button class="btn btn-dark" id="submitButtonAgain" ng-click="searchBooksByAuthor()">Submit</button>
</div>

<div class="card-columns">                
<div ng-repeat="book in booksbyauthor" class="card" class="card border-secondary mb-3" style="width: 20rem;">
    <img class="card-img-top" ng-src='{{book.image}}'></img>
    <h1 class="card-header">{{book.title}}</h1>
    <div class="card-body">                        
    <h3 class="card-text">{{book.authors}}</h3>
    <button class="btn btn-dark" class="{{book.id}}" ng-controller="listCtrl" ng-click="sendUserBooks(book)">To-Read</button>
</div>
</div>
</div>

<!-- <h2>Search by publisher:</h2>
<input id="searchBooksByPublisher" type="text"></input> <button id="submitButtonAgainAgain" ng-click="searchBooksByPublisher()">Submit</button>

<div ng-repeat="book in booksbypublisher">
    <img ng-src='{{book.image}}'></img>
    <h1>{{book.title}}</h1>
    <h3>{{book.authors}}</h3>
    <button class="btn btn-outline-dark" class="{{book.id}}" ng-controller="listCtrl" ng-click="sendUserBooks(book)">To-Read</button>
</div> -->