<form id="signUpForm">
    Admin:
    <input id="trueButton" type="radio" name="admin" value="true"> True<br>
    <input id="falseButton" type="radio" name="admin" value="false"> False<br>
    First Name:
    <input id="firstNameForm" type="text" name="firstname"> <br>
    Last Name:
    <input id="lastNameForm" type="text" name="lastname"> <br>
    Grade Level:
    <input id="gradeLevelForm" type="text" name="grade"> <br>
    Email:
    <input id="emailForm" type="email" name="email"> <br>
    Password:
    <input id="passwordForm" type="text" name="password">
</form>
<button ng-click="createUser()">Sign Up</button>