<form id="signUpForm">
    <div class="form-group">
    <label class="form-check-label">
    Admin:
    <input id="trueButton" type="radio" name="admin" value="true"> True<br>
    <input id="falseButton" type="radio" name="admin" value="false"> False<br>
    </label>
    First Name:
    <input class="form-control"id="firstNameForm" type="text" name="firstname"> <br>
    Last Name:
    <input class="form-control"id="lastNameForm" type="text" name="lastname"> <br>
    Grade Level:
    <input class="form-control"id="gradeLevelForm" type="text" name="grade"> <br>
    Email:
    <input class="form-control" id="emailForm" type="email" name="email"> <br>
    Password:
    <input class="form-control" id="passwordForm" type="text" name="password">
</div>
</form>
<button class="btn btn-outline-dark" ng-click="createUser()">Sign Up</button>