<ul>
        <li><a ng-href="#!/form">Sign Up</a></li>
        <li><a ng-href="#!/statistics">Statistics</a></li>
        <li><a ng-href="#!/tobuy">To Buy</a></li>
        <li><a ng-href="#!/" ng-click="logOut()">Log Out</a></li>
        
</ul>

<h1 class="header">To Buy</h1>

<div class="card-deck important">
<div ng-repeat="book in highrate" ng-if="book.to_buy == true" class="card" class="card border-secondary mb-3" style="width: 20rem;">
    <img class="card-img-top" ng-src='{{book.cover_photo}}'></img>
    <h4 class="card-header">{{book.title}}</h4>
    <div class="card-body">            
        <p class="card-text"> {{book.author}}</p>
        <button class="btn btn-dark" class="{{book.id}}" ng-click='sendToBuyBooks(book.id, true)'>Want To Buy</button>
        <button class="btn btn-dark" class="{{book.id}}" ng-click="deleteBooks(book.id)">Delete</button>
        
    </div>
    
</div>
</div>

